<div class="bg-soft-red flex rounded-[10px] pt-[20px] pb-[22px] pl-[20px] pr-[24px] justify-between items-center md:pt-[27px] md:pb-[25px] md:pl-[32px] md:pr-[39px]">
    <div>
        <p class="text-[15px] leading-[19.53px] text-white mb-1 md:text-lg md:leading-[23.44px] md:mb-2">My balance</p>
        <p class="text-2xl leading-[31.25px] font-bold text-white md:text-[32px] md:leading-[41.66px]">$921.48</p>
    </div>
    <div>
        <img class="h-10 md:h-12" src="./img/logo.svg" alt="">
    </div>
</div>