<main class="bg-white rounded-[10px] mt-4 py-6 px-5">
    <h2 class="font-bold text-[24px] leading-[31.25px]">Spending - Last 7 days</h2>

    {% include "chart.njk" %}

    <hr class="my-6 h-[2px] rounded-[1px] bg-[#F8E9DD] border-none">
    <div class="">
        <p class="text-[15px] leading-[19.53px] text-medium-brown mb-1">Total this month</p>
        <div class="flex items-center justify-between">
            <div>
                <p class="text-3xl leading-[39.06px] font-bold">$478.33</p>
            </div>
            <div>
                <p class="text-[15px] leading-[19.53px] font-bold text-right">+2.4%</p>
                <p class="text-[15px] leading-[19.53px] text-medium-brown text-right">from last month</p>
            </div>
        </div>
    </div>
</main>