---
title: Frontend Mentor
description: Expenses chart component
layout: layouts/base.njk
---
<div class="flex items-center justify-center w-full min-h-screen" x-init="console.log('Hello from Alpine.js')">

  <div class="w-full max-w-[343px]">
    {% include "header.njk" %}
    {% include "main.njk" %}
  </div>

</div>